@media (prefers-color-scheme: light) {
    /* Estilos para el modo claro */
    :root {
        --background: #F0F0D7;
        --LightBack: #AAB99A;
        --gameBackground: white;
    }
}

@media (prefers-color-scheme: dark) {
    /* Estilos para el modo oscuro */
    :root {
        --background: #032240;
        --LightBack: #024137;
        --gameBackground: black;
    }
}

body{
    background-color: var(--background);
    font-size: 19px;
}

canvas{
    width: 912;
    height: 752;
    display: block;
    margin: 20px auto;
}

button{
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: var(--LightBack);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: var(--gameBackground);
}

#batalla{
    display: none;
}

.message{
    margin: auto;

    width: 500px;
    display: flex;

    position: relative;
    left: -150px;
    bottom: 140px;
    z-index: 2;

    font-family: 'Pixelify Sans';
    font-size: 1.5rem;
    color: white;
}

.abilities{
    margin: auto;

    width: 330px;
    height: calc(600px * 1/4px);

    display: flex;

    position: relative;
    z-index: 3;

    top: -230px;
    right: -270px;

    column-gap: 60px;
    flex-flow: row wrap;
    flex-direction: row;


    font-family: 'Pixelify Sans';
    font-size: 1.5rem;
    line-height: 0.5rem;
    color: black;
}

.message, .abilities{
    display: none;
}

