@media (prefers-color-scheme: light) {
    /* Estilos para el modo claro */
    :root {
        --background: #F0F0D7;
        --LightBack: #AAB99A;
        --gameBackground: white;
    }
}

@media (prefers-color-scheme: dark) {
    /* Estilos para el modo oscuro */
    :root {
        --background: #032240;
        --LightBack: #024137;
        --gameBackground: black;
    }
}

body{
    background-color: var(--background);
    font-size: 19px;
}

canvas{
    background-color: var(--gameBackground);
    width: 912;
    height: 752;
    display: block;
    margin: 20px auto;
}
#blur{
    filter: blur(10);
}
